.title {
  /*noinspection CssInvalidFunction*/
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  /*noinspection CssInvalidFunction*/
  font-size: rem(100px);
  font-weight: 900;
  /*noinspection CssInvalidFunction*/
  letter-spacing: rem(-2px);
  /*noinspection CssInvalidFunction*/
  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}
